<div ng-controller="adminController"> 
            <h3><i> Адміністрування</i></h3>
            <br>       
            <table class="table table-striped table-hover">
            <tr>
                <th>№</th>
                <th ng-click="sortTable('devicename')">Пристрій {{getSortTableColum('devicename')}} </th>
                <th ng-click="sortTable('devicenumber')">Інвентарний номер{{getSortTableColum('devicenumber')}} </th>
                <th ng-click="sortTable('tookdate')">Дата видачі{{getSortTableColum('tookdate')}}</th>
                <th ng-click="sortTable('returndate')">Дата повернення{{getSortTableColum('returndate')}}</th>
                <th ng-click="sortTable('owner')">Хто взяв{{getSortTableColum('owner')}}</th>
                <th >Дії</th>
            </tr>                                              
                <tr  ng-class= "isDeviceFree(d) ? 'success' : 'danger'"  ng-repeat='d in devices'>
                    <td>{{$index+1}}</td>
                    <td>{{d.devicename}}</td>
                    <td>{{d.devicenumber}}</td>
                    <td>{{d.tookdate}}</td>
                    <td>{{d.returndate}}</td>
                    <td>{{d.owner}}</td>                
                    <td class="hidden-xs">   
                        <button type="button" class="btn btn-success "
                            ng-class= "isDeviceFree(d) ? 'disabled' : ''" 
                            ng-click= "isDeviceFree(d) ? '' : returnDevice(d.id)"
                            data-toggle="tooltip" title="Повернути">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                        
                        <button type="button"class="btn btn-warning"  
                            ng-click= 'loc.path("/admin/edit/"+d.id)'
                            data-toggle="tooltip" title="Редагувати">
                            <span class="glyphicon glyphicon-edit">
                        </button>

                        <button type="button"class="btn btn-danger " ng-click="deleteDevice(d.id)"
                            data-toggle="tooltip" title="Видалити">
                            <span class="glyphicon glyphicon-trash">
                        </button>

                        <button type="button"class="btn btn-info" ng-click='loc.path("/admin/history/"+d.id)'
                            data-toggle="tooltip" title="Історія">
                            <span class="glyphicon glyphicon-list-alt"> 
                        </button>
                    </td>
                </tr>            
            </table>        
</div>
        

