<div ng-controller="addController">
<div class="container">
    <div class="row">
        <h1>Додавання нового пристрою</h1>
        <br>

        <table class="table table-striped">
        <tr>
            <td >Пристрій</td>
            <td><input type="text" ng-model="deviceName" ></td>
        </tr>
         <tr>
            <td >Інвентарний номер</td>
            <td><input type="text" ng-model="deviceNumber" ></td>
        </tr>
        <tr>
            <td>Дата видачі</td>            
            <td><input type="date" ng-model="tookDate"></td>
        </tr>
        <tr>
            <td>Дата повернення</td>
            <td><input type="date" ng-model="returnDate" ></td>
        </tr>
        <tr>
            <td >Хто взяв</td>
            <td><input type="text" ng-model="owner" ></td>
        </tr>
        <tr>
            <td ></td>
            <td>
                <input class="btn btn-success" type="button" name="submit" value="Зберегти" 
                       ng-click="addDevice()">
                <input class="btn btn-danger" type="button" name="cancel" value="Відмінити"  
                        ng-click='loc.path("/admin")'>
            </td>
        </tr>
        </table>
    </div>
</div>
</div>        

