<div ng-controller="adminController">
    <div class="container">
        <div class="row">
            <h1>Пристрої (админістрування)</h1>
            <br>
            <table class="table table-striped">
            <tr>
                <th>№</th>
                <th>Пристрій</th>
                <th>Інвентарний номер</th>
                <th>Дата видачі</th>
                <th>Дата повернення</th>
                <th>Хто взяв</th>
                <th>Дії</th>
            </tr>
                               
               
 <tr  ng-class= "isDeviceFree(d) ? 'success' : 'danger'"  ng-repeat='d in devices'>
                    <td>{{$index+1}}</td>
                    <td>{{d.devicename}}</td>
                    <td>{{d.devicenumber}}</td>
                    <td>{{d.tookdate}}</td>
                    <td>{{d.returndate}}</td>
                    <td>{{d.owner}}</td>                
                    <td>   
                        <button type="button"class="btn btn-success "
                            ng-class= "isDeviceFree(d) ? 'disabled' : ''" 
                            ng-click= "isDeviceFree(d) ? '' : returnDevice(d.id)">Повернути</button>
                        
                        <button type="button"class="btn btn-warning" 
                        ng-click= 'loc.path("/admin/edit/"+d.id)'>Редагувати</button>
                        <button type="button"class="btn btn-danger" ng-click="deleteDevice(d.id)">Видалити
                        </button>
                        <button type="button"class="btn btn-info" ng-click= 'loc.path("/admin/history/"+d.id)'>Історія
                        </button>

                    </td>
                </tr>
            
            </table>
        </div>
        <div class="row">
            <button type="button"class="btn btn-success" ng-click='loc.path("/admin/add")'>Додати пристрій</button>

            <button type="button"class="btn btn-info" onClick="window.location.href='../admin/load'">Вивантажити протокол</button>

            <button type="button"class="btn btn-primary" ng-click='loc.path("/admin/changepas")'>Змінити пароль</button>
             
        </div>


    </div>
        

