<div ng-controller="historyController">    
            <h3><i>Історія</i></h3>            
            <br>
            <table class="table table-striped">
                <tr>                
                    <th>Дата видачі</th>
                    <th>Дата повернення</th>
                    <th>Орендар</th>
                </tr>
                <tr class="info" ng-repeat='h in history'>                
                    <td>{{h.tookdate}}</td>
                    <td>{{h.returndate}}</td>
                    <td>{{h.owner}}</td>
                </tr>            
            </table>
            <input class="btn btn-danger" type="button" name="cancel" value="Повернутись"  
                        ng-click='loc.path( "/admin" )'>
</div>        

