<div ng-controller="loginController">
            <h3><i>Аутентифікація</i></h3>            
            <br>
                <table class="table table-striped">
                <tr>
                    <td>Логін</td>
                    <td> <input type="text" ng-model="login" required></td>
                </tr>
                 <tr>
                    <td >Пароль</td>
                    <td><input type="password"  ng-model="password" required></td>
                </tr>                
                  
                <tr>
                    <td></td>
                    <td>
                        <input class="btn btn-success" type="button" name="submit" value="Увійти" 
                        ng-click="submitLoginForm()">
                        <input class="btn btn-danger" type="button" name="cancel" value="Відмінити"  
                        ng-click='loc.path("/")'>
                    </td>
                </tr>
                </table>
</div>        


