<div >
    
<div class="container">

    <div class="row">
       <h3><i>Планується закупка нових девайсів для роботи у Львівських офісах</i></h3>   
       <br>
       <h5>Якщо в когось є потреба в конкретній моделі під ваш проект, можем розглянути і включити в список закупки. 
       <br>
       Пропозиції з вказанням конкретної моделі прохання надсилати на <a href="mailto:mrachkev@softserveinc.com">mrachkev@softserveinc.com</a>  до 04.08.2017 12:00.</h5>
       <h5><b><i>01.08.2017</i></b></h5>
       <hr>
    </div>
</div>
</div>


