<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
            
 <script>
 function addSend(){

    var xhr = new XMLHttpRequest();

    var body = 'devicename=' + document.getElementById("deviceName").value+
    '&devicenumber=' + document.getElementById("deviceNumber").value+
        '&tookdate=' + document.getElementById("tookDate").value+
        '&owner=' + document.getElementById("owner").value+
         '&returndate=' + document.getElementById("returnDate").value;    
    xhr.open("POST", '/admin/add', true)
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')

    xhr.onreadystatechange = function() {
        if (this.readyState != 4) return;
        //document.write(this.responseText);
        window.location.href='/admin';
    }

   xhr.send(body); 
   
}


</script>

<div class="container">
    <div class="row">
        <h1>Додавання нового пристрою</h1>
        <br>

        <table class="table table-striped">
        <tr>
            <td >Пристрій</td>
            <td><input type="text" id="deviceName" required></td>
        </tr>
         <tr>
            <td >Інвентарний номер</td>
            <td><input type="text" id="deviceNumber" required></td>
        </tr>
        <tr>
            <td>Дата видачі</td>            
            <td><input type="date" id="tookDate"  required></td>
        </tr>
        <tr>
            <td>Дата повернення</td>
            <td><input type="date" id="returnDate" required></td>
        </tr>
        <tr>
            <td >Хто взяв</td>
            <td><input type="text" id="owner" required></td>
        </tr>
        <tr>
            <td ></td>
            <td>
                <input class="btn btn-success" type="button" name="submit" value="Зберегти" 
                        onClick="addSend();">
                <input class="btn btn-danger" type="button" name="cancel" value="Відмінити"  
                        onClick="window.location.href='/admin'">
            </td>
        </tr>
        </table>
    </div>
</div>
        
<script>
    //document.getElementById('tookDate').valueAsDate   = new Date();
    //document.getElementById('returnDate').valueAsDate = new Date();
</script>

