<script>
 function changePassword(){

    var xhr = new XMLHttpRequest();

    var body = 'login=' + document.getElementById("login").value+
    '&password=' + document.getElementById("password").value;
    console.log(body);
    xhr.open("POST", '/admin/changepas', true)
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')

    xhr.onreadystatechange = function() {
        if (this.readyState != 4) return;
        //document.write(this.responseText);
        window.location.href='/admin';
    }

   xhr.send(body); 
   
}
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <div class="container">
        <div class="row">
            <h1>Аутентифікація</h1>            
            <br>
                <table class="table table-striped">
                <tr>
                    <td >Логін</td>
                    <td> <input type="text" id="login" value="admin" required></td>
                </tr>
                 <tr>
                    <td >Пароль</td>
                    <td><input type="text" id="password"  required></td>
                </tr>                
                  
                <tr>
                    <td></td>
                    <td>
                        <input class="btn btn-success" type="button" name="submit" value="Змінити пароль" 
                        onClick="changePassword();">
                        <input class="btn btn-danger" type="button" name="cancel" value="Відмінити"  
                        onClick="window.location.href='/admin'">
                    </td>
                </tr>
                </table>
        </div>
    </div>
        


