
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

    <div class="container">
        <div class="row">
            <h1>Історія </h1>
            <h3>Інвентарний номер </h3>
            <br>
            <table class="table table-striped">
            <tr>                
                <th>Дата видачі</th>
                <th>Дата повернення</th>
                <th>Хто брав</th>
            </tr>
                               
                <% if(data.length){ 
                  for(var i = 0;i < data.length;i++) { 
                %>
                <tr class="info">                
                    <td><%=data[i].tookdate%></td>
                    <td><%=data[i].returndate%></td>
                    <td><%=data[i].owner%></td>
                </tr>
            <% } } %>

            </table>
             <input class="btn btn-danger" type="button" name="cancel" value="Повернутись"  
                        onClick="window.location.href='/admin'">
        </div>
    </div>
        

